$largoHeader: 1920px;
$altoHeader: 150px;
$color-header: #FADFF4;

$largoFooter: 1920px;
$altoFooter: 170px;
$color-negro: #000000;
$color-blanco: white;
$color-gris: #575757;
$color-gris-footer: #666666;
$color-texto-footer: #B2B2B2;
$color-verde: #00FF41;
$color-gris-texto-cursos: #B2B2B2;
$color-morado: #CF1BBB;

$largoMain: 1920px;
$altoMain: 740px;