@import './_global';
@import './_variables';
@import './node_modules/bootstrap/scss/bootstrap.scss';


*{
    padding: 0px;
    margin: 0px;
    outline: none;
    zoom: 1;
    -webkit-tap-highlight-color: transparent;
    font-size: 0;
    width: 100%;
}

.header{
    background-color: $color-header;
    width: 100%;
    height: $altoHeader;
    nav{
        .logo {
            display: inline-block;
            vertical-align: top;
            width: 115px;
            height: 115px;
            margin-left: 35px;
            margin-right: 20px;
            margin-top: 15px;    /* if you want it vertically middle of the navbar. */
        }
        ul{
            width: 1300px;
            margin: 0 auto;
            display: inline-block;
            margin-top: 25px;
            li{
                display: inline-block;
                margin-top: 55px;
                margin: auto;
                width: 182px;
                text-align:center;
                background-color: #CBCBCB;
                text-decoration: none;
                a{
                    //Colores
                    color: #CF1BBB;
                    padding: 10px;
                    display: inline-block;
                    font-size: 16px;
                }


            }
            li:hover{
                background-color: #f188e5;
                color: $color-blanco !important;
                a:hover{
                    color: $color-blanco;
                }
            }
            li:active{
                background-color: #CF1BBB;
            }
            .botonSeleccionado{
                background-color: #CF1BBB;
                a{color: $color-blanco;}
            }
        }
        .contenedorMenu{
            margin-top: 55px;
        }
        .usuario{
            display: inline-block;
            width: 30px;
            float: right;
            margin-right: 35px;
            margin-top: -75px;
        }
        .usuario:hover{
            cursor: pointer;
            border-radius: 5px;
            background-color: purple;        }

    }   


}

main{
    background-color: $color-blanco;
    height: $altoMain;
    width: 100%;
    color: royalblue;
    display: inline;
    section{
        width: 45%;
        display: inline-block;
        margin-top: 50px;
        align-content: center;
        margin-bottom: 50px;
        img{
            width: 55%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        h3{
            color: $color-negro;
            font-size: xx-large;
            padding: 25px;
            text-align: center;
        }
        p{
            color: $color-negro;
            font-size:medium;
            text-align: justify;
            line-height: 250%;
        }
    }
}

.footer{
    background-color: $color-negro;
    height: $altoFooter;
    width: 100%;
    color: $color-blanco;
    .textoFooter{
        color: $color-blanco;
        background-color: red;
        font-size: medium;
        width: 350px;
        height: 50px;
    }

}


