@import './_global';
@import './_variables';
@import './node_modules/bootstrap/scss/bootstrap.scss';


*{
    padding: 0px;
    margin: 0px;
    outline: none;
    zoom: 1;
    -webkit-tap-highlight-color: transparent;
    font-size: 0;
}

.header{
    background-color: $color-header;
    width: 100%;
    height: $altoHeader;
    nav{
        .logo {
            display: inline-block;
            vertical-align: top;
            width: 115px;
            height: 115px;
            margin-left: 35px;
            margin-right: 20px;
            margin-top: 15px;    /* if you want it vertically middle of the navbar. */
        }
        ul{
            width: 1300px;
            margin: 0 auto;
            display: inline-block;
            margin-top: 25px;
            li{
                display: inline-block;
                margin-top: 55px;

                margin: auto;
                width: 14%;
                text-align:center;

                a{
                    display: inline-block;
                    text-decoration: none;
                    font-size: 16px;
                }
            }
        }
        .contenedorMenu{
            margin-top: 55px;
        }
        .usuario{
            display: inline-block;
            width: 30px;
            float: right;
            margin-right: 50px;
            margin-top: -75px;
        }
        .usuario:hover{
            cursor: pointer;
            border-radius: 5px;
            background-color: purple;        }

    }   


}


.contenidoPrincipal{
    background-color: $color-blanco;
    height: $altoMain;
    width: $largoMain;
}

.footer{
    background-color: $color-negro;
    width: $largoFooter;
    height: $altoFooter;
}