@import './global';
@import './variables';
@import './node_modules/bootstrap/scss/bootstrap.scss';
@import './cursos';

*{
    padding: 0px;
    margin: 0px;
    outline: none;
    zoom: 1;
    -webkit-tap-highlight-color: transparent;
    font-size: 0;
    width: 100%;
}

.header{
    background-color: $color-header;
    width: 100%;
    height: $altoHeader;
    nav{
        .logo {
            display: inline-block;
            vertical-align: top;
            width: 115px;
            height: 115px;
            margin-left: 35px;
            margin-right: 20px;
            margin-top: 15px;    /* if you want it vertically middle of the navbar. */
        }
        ul{
            width: 1300px;
            margin: 0 auto;
            display: inline-block;
            margin-top: 25px;
            li{
                display: inline-block;
                margin-top: 55px;
                margin: auto;
                width: 182px;
                text-align:center;
                background-color: #CBCBCB;
                text-decoration: none;
                a{
                    //Colores
                    color: #CF1BBB;
                    padding: 10px;
                    display: inline-block;
                    font-size: 16px;
                }
            }
            li:hover{
                background-color: #f188e5;
                color: $color-blanco !important;
                a:hover{
                    color: $color-blanco;
                }
            }
            li:active{
                background-color: #CF1BBB;
            }
            .botonSeleccionado{
                background-color: #CF1BBB;
                a{color: $color-blanco;}
            }
        }
        .contenedorMenu{
            margin-top: 55px;
        }
        .usuario{
            display: inline-block;
            width: 30px;
            float: right;
            margin-right: 35px;
            margin-top: -75px;
        }
        .usuario:hover{
            cursor: pointer;
            border-radius: 5px;
            background-color: purple;        }
    }   
}

main{
    background-color: $color-blanco;
    height: $altoMain;
    width: 100%;
    color: royalblue;
    display: inline;
    section{
        width: 45%;
        display: inline-block;
        margin-top: 50px;
        align-content: center;
        margin-bottom: 50px;
        img{
            width: 55%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        h3{
            color: $color-negro;
            font-size: xx-large;
            padding: 25px;
            text-align: center;
        }
        p{
            color: $color-negro;
            font-size:medium;
            text-align: justify;
            line-height: 250%;
        }
    }
}

.footer{
    background-color: $color-negro;
    height: $altoFooter;
    width: 100%;
    color: $color-blanco;
    display: inline-block;
    align-content: space-between;
    .logoFooter{
        vertical-align: middle;
        display: inline-block;
        width: 8%;
        padding: 15px;
        margin-left: 55px;
        margin-bottom: 55px;

    }
    .nuestraOrganizacion{
        display: inline-block;
        color: $color-blanco;
        background-color: transparent;
        font-size: medium;
        width: 22%;
        h3{
            margin-top: 15px;
            color: $color-gris-footer;
            font-size: 20px;
            font-weight: 500;
            padding: 5px;
            margin-left: 1em;
        }
        p{
            a{
                color: $color-texto-footer;
                font-size: 16px;
                margin-left: 2em;
            }
        }

    }
    .siguenos{
        display: inline-block;
        color: $color-blanco;
        background-color: transparent;
        font-size: medium;
        width: 22%;
        h3{
            margin-top: 15px;
            color: $color-gris-footer;
            font-size: 20px;
            font-weight: 500;
            padding: 5px;
            margin-left: 1em;
        }
        p{
            font-size: 16px;
            margin-left: 2em;
            display: inline-block;
        }
        .fa {
            padding: 5px;
            font-size: 20px;
            width: 30px;
            text-align: center;
            text-decoration: none;
            margin: 5px 10px;
            border-radius: 45%;
        }
        .fa:hover {
            opacity: 0.7;
        }
        .fa-facebook{
            background: #3B5998;
            color: white;
        }
        .fa-twitter{
            background: #55ACEE;
            color: white;
        }
        .fa-youtube {
            background: #bb0000;
            color: white;
        }
    }

    .aviso{
        display: inline-block;
        color: $color-blanco;
        background-color: transparent;
        font-size: medium;
        width: 22%;
        h3{
            margin-top: 15px;
            color: $color-gris-footer;
            font-size: 20px;
            font-weight: 500;
            padding: 5px;
            margin-left: 1em;
        }
        p{
            color: $color-texto-footer;
            font-size: 16px;
            margin-left: 2em;
            text-decoration: none;
            a{
                color: $color-texto-footer;
                font-size: 16px;
                margin-left: 2em;
                text-decoration: none;
            }
 
        }
    }

    .contacto{
        display: inline-block;
        color: $color-blanco;
        background-color: transparent;
        font-size: medium;
        width: 22%;
        h3{
            margin-top: 15px;
            color: $color-gris-footer;
            font-size: 20px;
            font-weight: 500;
            padding: 5px;
            margin-left: 1em;
        }
        p{
            a{
                color: $color-texto-footer;
                font-size: 16px;
                margin-left: 2em;
            }
        }
    }
}

//Contenido en main de Cursos
.contenidoPrincipalCursos{
    background-color: $color-blanco;
    height: $altoMain;
    width: 100%;
    color: royalblue;
    display: inline;
    section{
        width: 20%;
        display: inline-block;
        margin-top: 50px;
        align-content: center;
        margin-bottom: 50px;
        margin-left: 55px;
        img{
            width: 100%;
            display: block;
            margin-top: 1em;
            margin-left: auto;
            margin-right: auto;
        }
        img:hover{
            opacity: 0.75;
        }
        h3{
            color: $color-blanco;
            background: $color-verde;
            font-size: x-large;
            padding: 12px;
            text-align: center;
            margin-bottom: 1em;
        }
        p{
            color: $color-gris-texto-cursos;
            font-size:medium;
            text-align: justify;
            line-height: 250%;
            padding: 20px;
        }
    }
}

//Cotenido en main de Talleres
.contenidoPrincipalTalleres{
    background-color: $color-blanco;
    height: $altoMain;
    width: 100%;
    color: $color-gris-texto-cursos;
    display: inline;
    section{
        color: $color-gris-texto-cursos;
        width: 40%;
        margin-top: 50px;
        margin-bottom: 50px;
        img{
            display: inline;
            width: 70%;
            margin-left: 105px;
            margin-bottom: 35px;
        }
        h3{
            color: $color-negro;
            font-size: xx-large;
            padding: 25px;
            text-align: center;
        }
        p{
            color: $color-gris-texto-cursos;
            font-size:medium;
            text-align: justify;
            line-height: 250%;
        }
    }
}

//Contenido en main de Diplomados
.contenidoPrincipalDiplomados{
    background-color: $color-blanco;
    height: $altoMain;
    width: 100%;
    color: royalblue;
    display: inline-block;
    section{
        width: 100%;
        display: inline;
        align-content: center;
        margin-bottom: 25px;
        div{
            text-align: left;
            .logoMicrosoft{
                float:left;
                width: 45%;
            }
        }
        
        .puntoNet{
            padding: 25px;
            margin-left: 45px;
            text-align: center;
            h3{
                color: $color-negro;
                font-size: xx-large;
                padding: 25px;
                text-align: center;
            }
            p{
                color: $color-gris-texto-cursos;
                font-size:medium;
                line-height: 250%;
                padding: 5px;
                margin-left: auto;
                margin-right: auto;

            }
            a{
                color: $color-negro;
                font-size: 18px;
                font-weight: 600;
                line-height: 250%;
            }
            a:hover{
                color: $color-morado;
            }
        }

        // div.javaLogo{
        //     text-align: right;
        //     width: 100%;
        //     .logoJava{
        //         float: right;
        //         width: 45%;
        //     }
        // }

        // .java{
        //     padding: 25px;
        //     margin-right: 45px;
        //     text-align: center;
        //     width: 40%;
        //     h3{
        //         color: $color-negro;
        //         font-size: xx-large;
        //         padding: 25px;
        //         text-align: center;
        //     }
        //     p{
        //         color: $color-gris-texto-cursos;
        //         font-size:medium;
        //         line-height: 250%;
        //         padding: 5px;
        //         margin-left: auto;
        //         margin-right: auto;

        //     }
        //     a{
        //         color: $color-negro;
        //         font-size: 18px;
        //         font-weight: 600;
        //         line-height: 250%;
        //     }
        //     a:hover{
        //         color: $color-morado;
        //     }
        // }
        div{
            text-align: right;
            width: 100%;
            .logoJavaScript{
                float: right;
                width: 45%;
            }
        }
        .javasciptTexto{
            padding: 25px;
            margin-right: 45px;
            text-align: center;
            width: 40%;
            h3{
                color: $color-negro;
                font-size: xx-large;
                padding: 25px;
                text-align: center;
            }
            p{
                color: $color-gris-texto-cursos;
                font-size:medium;
                line-height: 250%;
                padding: 5px;
                margin-left: auto;
                margin-right: auto;

            }
            a{
                color: $color-negro;
                font-size: 18px;
                font-weight: 600;
                line-height: 250%;
            }
            a:hover{
                color: $color-morado;
            }
        }
        
    }

    .javaS{
        display: flex;
        width: 100%;
        .java{
            display: inline-block;
            width: 50%;
            a{
                color: $color-negro;
                font-size: 18px;
                font-weight: 600;
                line-height: 250%;
            }
            a:hover{
                color: $color-morado;
            }
            p{
                color: $color-gris-texto-cursos;
                font-size:medium;
                line-height: 250%;
                padding: 5px;
                margin-left: 20px;
                margin-right: auto;

            }
        }
        .javaLogo{
            width:100%;
        }
    }

}